/* Define the Bahnschrift font */
@font-face {
  font-family: 'Bahnschrift SemiCondensed';
  src: local('Bahnschrift.ttf') format('ttf');
}

body {
  color: white;
  font-family: Roboto, sans-serif; /* Add fallback font */
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #121212;
  width: 100%; /* Use percentage instead of vw */
  display: flex;
  flex-direction: column;
}

header {
  min-height: 80vh; /* Adjust header height, min-height is better than fixed height */
  width: 100%; /* Use percentage instead of vw */
  color: white;
  background-image: url(Circles.svg);
  background-size: cover;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleBackground {
  background-color: #121212CC;
  padding: 16px; /* Increase padding for touch */
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto; /* Add margin for spacing */
  max-width: 90%; /* prevent title background from becoming too large on wide screens. */
}

section {
  padding: 20px;
  width: 100%; /* Use percentage instead of vw */
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Bahnschrift SemiCondensed';
  font-size: 4em; /* Use em or rem for responsive font sizes */
  line-height: 1.2;
  margin: 20px 0;
}

h2 {
  font-size: 2.5em; /* Use em or rem for responsive font sizes */
  margin: 20px auto; /* Center with auto margins */
  max-width: 90%;
}

h3 {
  font-size: 1.8em; /* Use em or rem for responsive font sizes */
  margin: 15px auto;
  max-width: 90%;
}

h4 {
  font-size: 1.2em; /* Use em or rem for responsive font sizes */
  margin: 10px auto;
  max-width: 90%;
  text-align: left;
}

p, li {
  font-size: 1em; /* Use em or rem for responsive font sizes */
  margin: 10px auto;
  max-width: 90%;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px auto;
  max-width: 90%;
  text-align: left;
}

.neon-button {
  display: inline-block;
  padding: 12px 24px; /* Increase padding for touch */
  font-size: 1em; /* Use em or rem for responsive font sizes */
  font-weight: bold;
  text-decoration: underline 0.2em transparent;
  text-underline-offset: 0;
  color: white;
  transition: text-decoration-color 0.3s, color 0.3s, text-underline-offset 0.3s;
  margin: 10px;
}

.neon-button:hover {
  color: #04d9ff;
  text-decoration-color: #04d9ff;
  text-underline-offset: 0.3em;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  header {
    min-height: auto; /* Allow header to shrink on smaller screens */
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4, p, li {
    font-size: 1em;
  }
  .neon-button{
    font-size: 1em;
    padding: 10px 20px;
  }
}